name: azure-nuke

on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 23 * * sun,wed"
  pull_request:

jobs:
  destroy:
    runs-on: ubuntu-latest
    env:
      azure_nuke_version: v1.2.8
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install azure-nuke
        run: |
          curl -Lo azure-nuke.tar.gz https://github.com/ekristen/azure-nuke/releases/download/${{ env.azure_nuke_version }}/azure-nuke-${{ env.azure_nuke_version }}-linux-amd64.tar.gz
          tar -zxvf azure-nuke.tar.gz
          sudo mv azure-nuke /usr/local/bin/azure-nuke
          rm README.md
          rm LICENSE
          rm azure-nuke.tar.gz
      - name: Run azure-nuke dry-run
        run: azure-nuke run --no-prompt --config=azure-nuke-config.yml 
      - name: Run azure-nuke
        if: ${{ contains(fromJSON('["schedule", "workflow_dispatch"]'), github.event_name) }}
        run: azure-nuke run --no-prompt --no-dry-run --config=azure-nuke-config.yml
