name: hcloud-nuke

on:
  pull_request:
  workflow_dispatch: {}
  #schedule:
  #  - cron: '0 23 * * sun,wed'

defaults:
  run:
    working-directory: hcloud-nuker

jobs:
  audit:
    if: ${{ contains(fromJSON('["pull_request"]'), github.event_name) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'hcloud-nuker/go.mod'
        cache-dependency-path: hcloud-nuker/go.sum
    - name: Verify
      run: go mod verify
    - name: Build
      run: go build -v ./...
    - name: Run go vet
      run: go vet ./...
    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: Run staticcheck
      run: staticcheck ./...
    - name: Run tests
      run: go test -race -vet=off ./...
  destroy:
    runs-on: ubuntu-latest
    if: ${{ contains(fromJSON('["schedule", "workflow_dispatch"]'), github.event_name) }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'hcloud-nuker/go.mod'
          cache-dependency-path: hcloud-nuker/go.sum
      - name: Install dependencies
        run: go get ./...
      - name: Run hcloud-nuker
        env:
          TEVBOX_HCLOUD_TOKEN: ${{ secrets.TEVBOX_HCLOUD_TOKEN }}
          TECHNAT_DEV_HCLOUD_TOKEN: ${{ secrets.TECHNAT_DEV_HCLOUD_TOKEN }}
        run: go run main.go
